@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1a1b31;
  --midtone: #2a2c65;
  --highlight: #564cbd;
  --white: #f8f4ff;
  --sub-white: #e9eaee;
  font-family: 'Hanken Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--sub-white);
  
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: stretch;
  place-items: center;
  background-color: var(--main-bg-color);
}

.shell {
  background: var(--midtone);
  color: var(--sub-white);
  border-radius: 2px;
  border: var(--highlight) 0px solid;
}

.header {
  color: var(--white);
  background: var(--midtone);
  border-radius: 2px;
  border-bottom: var(--highlight) 1px solid;
  padding: 2px;
  padding-left: 4px;
  padding-bottom: 0;
  margin: 0px;
  font-size: 1.125rem;
}

.react-flow__handle.source {
  left: -6px;
  background-color: transparent !important;
  width: 0 !important; 
  height: 0 !important; 
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid var(--highlight) !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  
}
 
.react-flow__handle.target {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid var(--highlight) !important;
  background-color: var(--midtone) !important;
}
 

/* for weird text editor behaviour */
b {
  font-weight: normal
}

i {
  font-style: normal;
}

.side-bar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.website-container {
  display: flex;
  background-color: #ffffff;
}

.website-display {
  flex: 1;
  margin: 0;
  padding: 0;
}

.side-window {
  flex: 1;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* REPLACE LATER */

/*!
  Theme: Rose Pine
  Origin: https://rosepinetheme.com/
*/
code {
  color: var(--sub-white);
}
/*  Comment */
.hljs-meta,
.hljs-comment {
  color: #6e6a86;
}

/* Red */
/*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
  color: #eb6f92;
}

/*Orange */
/*INFO: Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
  color: #ea9a97;
}


/*  Yellow */
/* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
  color: #f6c177;
}
/* cyan */
/* INFO: Language support functions, CSS HTML elements */
.hljs-selector-tag {
  color: #3e8fb0;
}

/* light blue */
/* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-keyword,
  .hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {color: #9ccfd8;}

/*Green*/
/* INFO: Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag { color: #9ccfd8;}


/*Green(er) */
/* INFO: Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #3e8fb0;
}

/* INFO:  	Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
  color: #ea9a97;
}



/* Magenta */
/*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
.hljs-name,
.hljs-keyword,
.hljs-operator,
.hljs-keyword,
.hljs-char.escape_,
.hljs-attr {
  color: #c4a7e7;
}

/* white*/
/* INFO: Variables, Class names, Terminal White */
.hljs-punctuation {color: #e0def4}

.hljs {
  background: #232136;
  color: #6e6a86;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}