@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1a1b31;
  --midtone: #2a2c65;
  --highlight: #564cbd;
  --white: #f8f4ff;
  --sub-white: #e9eaee;
  font-family: 'Hanken Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--sub-white);
  background-color: #242424;
  
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell {
  background: var(--midtone);
  color: var(--sub-white);
  border-radius: 2px;
  border: var(--highlight) 0px solid;
}

.header {
  color: var(--white);
  background: var(--midtone);
  border-radius: 2px;
  border-bottom: var(--highlight) 1px solid;
  padding: 2px;
  padding-left: 4px;
  padding-bottom: 0;
  margin: 0px;
  font-size: 1.125rem;
}

.react-flow__handle.source {
  left: -6px;
  background-color: transparent !important;
  width: 0 !important; 
  height: 0 !important; 
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid var(--highlight) !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  
}
 
.react-flow__handle.target {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid var(--highlight) !important;
  background-color: var(--midtone) !important;
}
 

/* for weird text editor behaviour */
b {
  font-weight: normal
}

i {
  font-style: normal;
}

.side-bar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.website-container {
  display: flex;
}

.website-display {
  flex: 1;
  margin: 0;
  padding: 0;
}

.side-window {
  flex: 1;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: stretch;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
